@import url(https://fonts.googleapis.com/css?family=VT323);
html { font: normal normal 16px/1.2 VT323, courier, monospace; }

body {
  color: rgb(0, 253, 254);
  background-color: #000;
  margin: 0;
}

.watch {
  font-size: 6rem;
  left: 0; right: 0; bottom: 0;
  text-align: center;
  margin-top: 5vh;
}

.watch.first {
  top: 0;
}

.watch.second {
  top: 10;
}

.watch.third {
  top: 20;
}

.stopWatch.start, .stopWatch.stop, .stopWatch.reset {
  background: transparent;
  border: 1px solid rgb(0, 253, 254);
  color: rgb(0, 253, 254);
  font-family: VT323;
  font-size: 3rem;
}

.watch button:hover,
.watch button:active {
  background: rgb(253, 0, 254);
}
